# Dependency directories
node_modules/

# Local configuration and logs
*.log
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
.history/
.sublime-project
.sublime-workspace

# Temporary scripts and work files
*.py


# Package manager files (if you only use them for local dev)
package-lock.json
# package.json  # Keep this if you want to track devDependencies